body {
    background-color: #000000;
    color: black;
    font-family: Helvetica, sans-serif;
}

.box {
    margin: auto;
    width: auto;
    height: auto;
    margin-top: 10vh;
    padding-top: 15vh;
    background-color: white;
    text-align: center;
    max-width: 550px;
    border-color: white;
    border-radius: 20px;
}

.container {
    display: flex;
    flex-direction: column-reverse;
    justify-content: center;
    align-items: baseline;
    align-content: space-between;
    flex-flow: row nowrap;
    gap: 3vw;
    margin-top: -1.5vh;
    margin-bottom: -5vh;
}

.elements {
    flex: .1;
}

#H1 {
    color: black;
    margin-top: -10vh;
    padding-top: -10vh;
    font-size: 2.5em;
    margin-bottom: 1.5vh;
}

#inp {
    width: auto;
    font-size: 2em;
    text-align: center;
    margin-bottom: 2vh;
    border-style: solid;
    border-width: 3px;
    border-color: black;
    border-radius: 3px;
    align-items: center;
}

#lable {
    font-size: 1.5em;
    padding-bottom: 5vh;
}

#plus {
    font-size: 2em;
    background-color: white;
    border-width: 0px;
}

#minus {
    font-size: 2em;
    background-color: white;
    border-width: 0px;
}

#plus:active {
    color: rgb(200, 200, 200);
}

#minus:active {
    color: rgb(200, 200, 200);
}

#plus:disabled {
    color: white;
}

#minus:disabled {
    color: white;
}

#shift {
    font-size: 2em;
}

#TextToCaesar {
    margin-top: -8px;
    height: 17px;
    width: 17px;
    vertical-align: middle;
}

#lttc {
    font-size: 1.5em
}

#CaesarToText {
    margin-top: -8px;
    height: 17px;
    width: 17px;
    vertical-align: middle;
}

#lctt {
    font-size: 1.5em
}

#out {
    font-size: 2em;
}

#p3 {
    font-size: 2em;
}