body {
    background-color: #000000;
    color: black;
    font-family: Helvetica, sans-serif;
}

.box {
    margin: auto;
    margin-top: 10vh;
    padding-top: 15vh;
    background-color: white;
    text-align: center;
    max-width: 38vw;
    border-radius: 3vh;
    justify-content: center;
    word-wrap: break-word;
}

.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: baseline;
    align-content: space-between;
    flex-flow: row nowrap;
    gap: 3vw;
    margin-top: -1.5vh;
    margin-bottom: -5vh;
}

.elements {
    flex: .1;
}

#H1 {
    color: black;
    margin-top: -10vh;
    padding-top: -10vh;
    font-size: 2.5em;
    margin-bottom: 1.5vh;
}

#inp {
    width: auto;
    font-size: 2em;
    text-align: center;
    margin-bottom: 2vh;
    border-style: solid;
    border-width: .3vw;
    border-color: black;
    border-radius: .3vw;
    align-items: center;
}

#plus, #minus {
    font-size: 2em;
    background-color: white;
    border-width: 0px;
}

#plus:active, #minus:active {
    color: rgb(200, 200, 200);
}

#plus:disabled, #minus:disabled {
    color: transparent;
}

#TextToCaesar, #CaesarToText {
    margin-top: -1.3vh;
    height: 4.5vh;
    width: 2.7vh;
    vertical-align: middle;
}

#lttc, #lctt {
    font-size: 1.5em
}

#out {
    margin: 2vw;
    margin-bottom: .5vh;
    font-size: 2em;
}

#p3, #shift {
    font-size: 2em;
}

#copy {
    font-size: 1.5em;
    background-color: white;
    border: .3vw solid black;
    border-radius: .3vw;
    margin-bottom: 2vh;
}

#copy:active {
    color: rgb(200, 200, 200);
    border-color: rgb(200, 200, 200);
}